@import "settings/mixins";


.hide{
  display: none;
}

.fullwidth{
  width: 100%;
}

img.fullwidth{
  width: 100%;
  height: auto;
  display: block;
}


.floatleft{
  float: left;
}

.floatright{
  float: right;
}


h1{
	font-size:10px;
}









