input, button{
  font-family: $body;
  font-weight: normal;
  @include border-radius (5px);
}
input::placeholder{
  		@include placeholder(#f3e3df);
}

input::placeholder-shown{
  		@include placeholder(#ffffff);
}


.form{
	float:right;
	clear:both;
	font-size: $news;

}


.email{
	width: 360px;
	font-size: $news;
	color: $placeholder;
	background:rgb(220, 155, 157);
	border:0;
	margin-top: 15px;
	margin-right: 36px;
	padding: 7px 0px 7px 18px;
	@include breakpoint(medium){
		
	}
}


button{
	text-align:center;
	background: $white;
	color: #43464d;
	font-size: $news;
	border:0;
	margin-right:215px;
	@include padding(7px, 37px, 7px, 37px);
}